/* html */
html, body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

body {
    background-color: #1c74a0;
    min-height: 100vh;
}

hr {
    display: none; 
}

/* Generics */
.constrain {
    margin: 0 auto;
}

.page {
  max-width: 1100px;
  margin: 0 auto;  
  background-color: white;
  min-height: 100vh;    
  padding-bottom: 1px;
}

/* Header */
header {
    background-color: #acadad;
}

header .constrain{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

header h1 {
    margin: 20px;
    padding: 0;
    font-size: 48px;
    background-color: #ffffff;
    outline-style: solid;
    padding: 0 5px;
    border-radius: 15px;
}

.hyperlinks {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    padding: 0;
    margin-right: 20px;
    border-radius: 15px;
}

.hyperlinks li {
    padding: 5px 10px;
    margin: 0 10px;
    background-color: #ffffff;
    box-shadow: 5px 5px;
    border-radius: 5px;
    outline-style: solid;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.hyperlinks li:hover {
    box-shadow: 0 0 0 black;
    transform: translate(5px, 5px);
}

.hyperlinks li a {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 18px;
}


/* Main */

main .title {
    margin: 0;
    padding: 0;
    background-image: url(../imgs/header_background.jpg);
    background-color: gray;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main .title .text-box {
    margin: 0;
    padding: 60px 0;
    text-align: center;
}

main .title .text-box h1{
    margin: 0;
    padding: 10px 20px;
    border-style: solid;
    border-radius: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    background-color: white;
    display: inline-block;
}

/* Footer */
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    background-color: lightgray;
}

footer nav a {
    text-decoration: none;
    margin: 0 15px;
    color: rgb(83, 83, 83);
}

footer nav a:hover {
    text-decoration: underline solid rgb(83, 83, 83) 5px;
}