/* html */
html, body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

body {
    background-color: #1c74a0;
    min-height: 100vh;
}

/* Generics */
.constrain {
    margin: 0 auto;
}

.page {
  max-width: 1100px;
  margin: 0 auto;  
  background-color: white;
  min-height: 100vh;    
  padding-bottom: 1px;
}

/* Header */
header {
    background-color: #acadad;
}

header .constrain{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

header h1 {
    margin: 20px;
    padding: 0;
    font-size: 48px;
    background-color: #ffffff;
    outline-style: solid;
    padding: 0 5px;
    border-radius: 15px;
}

.hyperlinks {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    padding: 0;
    margin-right: 20px;
    border-radius: 15px;
}

.hyperlinks li {
    padding: 5px 10px;
    margin: 0 10px;
    background-color: #ffffff;
    box-shadow: 5px 5px;
    border-radius: 5px;
    outline-style: solid;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.hyperlinks li:hover {
    box-shadow: 0 0 0 black;
    transform: translate(5px, 5px);
}

.hyperlinks li a {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 18px;
}


/* Main */

main .title {
    margin: 0;
    padding: 0;
    background-image: url(../imgs/header_background.jpg);
    background-color: gray;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main .title .text-box {
    margin: 0;
    padding: 60px 0;
    text-align: center;
}

main .title .text-box h1{
    margin: 0;
    padding: 10px 20px;
    border-style: solid;
    border-radius: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    background-color: white;
    display: inline-block;
}

.content {
    margin: 0 75px 0 75px;
}

hr {
    border: none;
    height: 2px;
    background-color: black;
    width: 75%;
    margin: 20px auto;
}

/* hero */

.hero nav ul li {
    list-style: none;
    margin-top: 10px;
}

.hero nav ul li a {
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}

.hero nav ul li a:link {
    color: #0000FF
}

.hero nav ul li a:visited {
    color: #551a8b;
}

.hero nav ul li a:hover {
    text-decoration: underline solid 2px;
}

/* intro-dns */

.intro-dns p a {
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}

.intro-dns p a:link {
    color: #0000FF;
}

.intro-dns p a:visited {
    color: #551a8b;
}

.intro-dns p a:hover {
    text-decoration: underline solid 2px;
}

/* problem-preview */

/* solution-preview */

/* about */

.about a {
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}

.about a:link {
    color: #0000ff;
}

.about a:visited {
    color: #551a8b;
}

.about a:hover {
    text-decoration: underline solid 2px;

}

/* Footer */
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    background-color: lightgray;
    margin-top: 30px;
}

footer nav a {
    text-decoration: none;
    margin: 0 15px;
    color: rgb(83, 83, 83);
}

footer nav a:hover {
    text-decoration: underline solid rgb(83, 83, 83) 5px;
}